@import "/src/globalScss/globalColors";

.user{
    &_invalid{
        color: #{color-invalid()};
    }
    &-item{
        padding: 1rem 2rem;
        background-color: white;
        &_first {
            border-radius: 5px 0 0 5px ;
        }
        &_last {
            border-radius: 0 5px 5px 0;
        }
        &-input{
            border: none;
            padding: 0;
            width: max-content;
            &:invalid, &_invalid {
                color: #{color-invalid()};
            }
            &_clear{
                -webkit-appearance: textfield;
                -moz-appearance: textfield;
                appearance: textfield;
            }
        }
    }
}
