@import "/src/globalScss/globalColors";

.button{
    border-radius: 10px;
    background-color: #{color-button()};
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: .7857rem 1.929rem;
    min-width: 189px;
    min-height: 2.714rem;
    color: white;

    &:disabled{
        background-color: #{color-button(.27)};
    }
}
