.app{
  margin: 0 auto;
  min-width: 770px;
  display: flex;
  flex-direction: column;
  gap: Min(21px, 1.5rem);
  &-data{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: Min(21px, 1.5rem);
  }
}
