@import "/src/globalScss/globalColors";

:root {
  font-family: -apple-system, BlinkMacSystemFont, 'Ubuntu', 'Segoe UI', 'Roboto', 'Oxygen', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size: 14px;
  line-height: 16px;

  --hsl-l: 223;

  color: #{color-regular()};
}

body {
  margin: 0;
  background-color: #{color-background()};
  // background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

input, button {
  background-color: inherit;
  color: inherit;
  outline: none;
}

* {
  box-sizing: border-box;
}

#root{
  display: flex;
  flex-direction: column;
}
